body {
    font-family: 'Droid Serif';
}
h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
}
.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }
.footnote {
    position: absolute;
    bottom: 3em;
}
li p { line-height: 1.25em; }
.red { color: #fa0000; }
.large { font-size: 2em; }
a, a > code {
    color: rgb(249, 38, 114);
    text-decoration: none;
}
code {
    background: #e7e8e2;
    border-radius: 5px;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }
.remark-code-line-highlighted     { background-color: #373832; }
.pull-left {
    float: left;
    width: 47%;
}
.pull-right {
    float: right;
    width: 47%;
}
.pull-right ~ p {
    clear: both;
}
#slideshow .slide .content code {
    font-size: 0.8em;
}
#slideshow .slide .content pre code {
    font-size: 0.9em;
    padding: 15px;
}
.inverse {
    background: #272822;
    color: #777872;
    text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
    color: #f3f3f3;
    line-height: 0.8em;
}

.bq {
    text-align: left;
    margin: 10px 0px 0px 10px;
    padding-left: 20px;
    border-left: solid rgba(76, 216, 16, 0.68) 5px;
    font-style: italic;
    color: #51424280;
}

.bqh {
    color: #000c;
    font-weight: bold;
}

.lleft {
    text-align: left;
    color: #777872;
    line-height: 10px;
    margin-left: 35px;
    font-size: 1.1em;
}

.lhl {
    color: #f0b1b1;
}

.sub-left {
    margin: 45px 0px 0px -59px;
    font-size: 0.9em;
    padding: 20px;
    border: 1px solid #f9267299;
    border-radius: 10px;
    width: 73%;
    background-color: #f926721a;
    color: #ffffff80;
}

.sub-left h3 {
    margin-top: 0px;
}

.rcc {
    margin: 50px 0px 0px -140px;
    color: gray;
}

.rcc .check {
    color: green;
}

.rcc pre {
    margin-top: 40px;
    width: 91.5%
}

.rcch {
    color: black;
}

.curiosity {
    width: 114%;
    border-radius: 25px;
    overflow: hidden;
}

.dsn {
    width: 92.7%;
    border-radius: 15px;
    overflow: hidden;
}

.jpl {
    color: #f8f8f8cc;
}

.jhl {
    color: white;
}

.jleft {
    font-family: "Ubuntu Mono";
    font-size: 1.07em;
    margin-left: 10px;
    width: 100%;
}

.oop-way {
    color: #383131;
    margin-left: -28px;
}

.oop-way p {
    font-style: normal;
}

.oop-focus {
    margin-left: 141px;
}

.oop-solid p {
    background-color: #272822;
    padding: 11px;
    margin: 40px 0px -84px -169px;
    color: #ddd;
    border-radius: 10px;
    font-size: 1.8em;
    font-family: 'Ubuntu Mono';
    text-align: center;
    width: 123%;
}

.oop-solid .check {
    color: #0ac805;
}

.gr {
    color: #ffffff80;
}

.grf {
    color: #fff3;
}

.fgr {
    color: #8080804d;
}

.ccol {
    color: #ecdbd8
}

.fop-way {
    color: #ffffff80;
    margin-left: -33px;
}

.fop-way p {
    font-style: normal;
    line-height: 11px;
    font-size: 0.99em;
}

.fop-way-seqs {
    margin: 45px 0px 0px 10px;
    font-size: 0.928em;
    padding: 0px 20px;
    border: 1px solid #f9267299;
    border-radius: 10px;
    width: 92%;
    text-align: left;
    background-color: #f926721a;
    color: #ffffff80;
}

.fop-way-seqs h3 {
    margin-top: 0px;
}

.fwh {
    color: #f0b1b1;
}

.same-needs {
    color: #fee1e1cc;
}

.same-needs .lang {
    margin-left: -40px;
}

.shell {
    background-color: black;
    padding: 0px;
    margin: 40px 0px 0px 60px;
    color: #ddd;
    border-radius: 10px;
    font-size: 1.6em;
    font-family: 'Ubuntu Mono';
    text-align: center;
    width: 84%;
}

.shell p {
    padding: 10px;
}

.time-graph h2 {
    margin: 0px;
    padding: 0px;
}

.immutability {
    margin: 0px 0px 0px 201px;
    font-size: 1.2em;
    padding: 30px;
    border: 1px solid #f9267299;
    border-radius: 10px;
    width: 37%;
    text-align: left;
    background-color: #f926724d;
    color: #ffffff80;
}

.demo code {
    margin: 0px;
    font-size: 3.2em;
    padding: 14px;
    width: 37%;
    text-align: left;
    background: #e7e8e200;
    color: #ffffffe6;
    font-family: Yanone Kaffeesatz;
}

.demo-link a {
    color: rgba(249, 38, 114, 0.57);
}

.immutability h1 {
    margin: 0px;
    padding: 0px;
}

.h1-center {
    text-align: center;
}

.mission-thumb {
    margin: -201px 15px 0px 0px;
    text-align: right;
}

.mission-fthumb {
    margin: -83px 15px 0px 0px;
    text-align: right;
}

.ffd {
    font-weight: bold;
    color: black;
}

.mtop-minus-46 {
    margin-top: -46px;
}

.mtop-minus-130 {
    margin-top: -130px;
}

.cfa {
    margin-top: -100px;
}

.cfal {
    margin-left: 99px;
    text-align: left;
    width: 600px;
}

.crepl {
    width: 106%;
    margin-left: -38px;
}

.crepl .remark-code {
   font-size: 1.3em;
}

.meta {
   margin: -56px 0px -11px 225px;
}

.meta h3 {
   margin: 0px;
   padding: 0px;
}

.meta-repl1 {
   margin-left: 27px;
}

.meta-repl2 {
   margin-left: -7px;
   width: 103%;
}

.clj pre code div {
    background: black;
    padding: 10px;
    border-radius: 9px;
    font-size: 1.3em;
}

.why-libs {
    margin: 32px 0px -74px 67px;
    font-size: 0.9em;
    padding: 0px 15px 29px 17px;
    border: 1px solid #f5f5f533;
    border-radius: 10px;
    width: 76%;
    background-color: #5d565966;
}

.why-libs h2 {
    color: #83847d;
}

.what-about {
    text-align: left;
    margin-left: 200px;
    line-height: 12px;
}

.needs-to-live {
    padding: 10px;
    border-radius: 10px;
    background: gray;
}

.mleft-column {
    color: #777;
    width: 5%;
    height: 92%;
    float: left;
    margin-top: 12px;
}
.mright-column {
    width: 95%;
    float: right;
    padding-top: 1em;
}

.fp-focus h3 {
    margin: 0px 0px -7px 0px;
}

.ctm {
    margin: -84px 0px -50px 400px;
}

.lvf {
    text-align: left;
    margin-left: 309px;
}

/* Slide-specific styling */
#slide-inverse .footnote {
    bottom: 12px;
    left: 20px;
}
#slide-how .slides {
    font-size: 0.9em;
    position: absolute;
    top:  151px;
    right: 140px;
}
#slide-how .slides h3 {
    margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
    padding: 1px 20px;
    height: 90px;
    width: 120px;
    -moz-box-shadow: 0 0 10px #777;
    -webkit-box-shadow: 0 0 10px #777;
    box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
    background: #fff;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 1;
}
#slide-how .slides .second {
    position: relative;
    background: #fff;
    z-index: 0;
}

/* Two-column layout */
.left-column {
    color: #777;
    width: 20%;
    height: 92%;
    float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
}
.right-column {
    width: 75%;
    float: right;
    padding-top: 1em;
}
.first-slide {
    background-image: url("../img/first-slide-background.png");
    background-size: cover;
}
.vs-slide-1 {
    background-image: url("../img/vs.png");
    background-size: cover;
}
.vs-slide-2 {
    background-image: url("../img/vs-container.png");
    background-size: cover;
}

.mission {
    background-color: #e0e0e0;
    background-image: url("../img/mission.png");
    background-size: 908px;
    background-repeat: no-repeat;
    background-position: right 71px;
}

.hubble {
    background-color: #e0e0e0;
    background-image: url("../img/hubble-config.jpg");
    background-size: 908px;
    background-repeat: no-repeat;
    background-position: right 71px;
}

.tl {
    text-align: left;
    font-family: 'Droid Serif';
    font-size: 0.9em;
    color: #ffffffb3;
}

.otl {
    margin-left: 40px;
}

.tlh {
    color: white;
}

.msp {
    margin: 72px 0px -213px 0px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.2em;
}

.osp {
    margin: 282px 0px -235px 0px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.2em;
}

.csp {
    margin: 37px 0px -357px 0px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 1.7em;
    text-align: left;
}

.csp h1 {
    font-size: 1.6em;
    text-align: center;
}

.intro {
    margin: 107px 0px -285px 0px;
}

.intro h1 {
    margin: 0px;
    padding: 0px;
}

.intro .lleft {
    margin: 40px 0px 0px 275px;
}

.dstores {
    margin: 197px 0px -285px 0px;
}

.jftw {
    margin: 203px 0px -285px 0px;
}

.jftw h3 {
    margin-top: 10px;
}

.csql {
    margin: 40px 0px -285px 0px;
}

.nsql {
    margin: 90px 0px -285px 0px;
}

.aop-examples {
    margin: 107px 0px -285px 0px;
}

.litmus {
    width: 60%;
    float: right;
    margin: -85px 0px -175px 0px;
}

.litmus h4 {
    text-align: right;
    margin-right: 15px;
}

.litmus p {
    color: #ffffffb3;
}

.fff h2 {
    margin: -287px 0px 0px -60px;
    color: #80808080;
    font-size: 1.8em;
}

.current {
    color: white;
}
.wt-text {
    font-family: 'Ubuntu Mono';
    font-size: 1.2em;
}

.mcode {
    background: #e7e8e24d;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    color: #fffc;
}

.cblock {
    text-align: left;
    margin-left: 57px;
}

.cblock .remark-code {
    font-size: 24px;
}

.fff .demo {
    margin: 215px 0px -200px 0px;
}

.fff .demo-link {
    margin: 213px 0px -200px 0px;
}

.msg-meta {
    margin-top: 177px;
}

.cass {
    margin: -5px 0px -302px 0px;
}

.cass .remark-code {
    font-size: 1.067em;
}

.es1 {
    margin-bottom: -300px
}

.es1 .remark-code {
    background: #8080804d;
    border-radius: 16px;
}

.es2 {
    margin: 46px 20px -349px 0px;
}

.es2 .remark-code {
    background: #8080804d;
    border-radius: 16px;
}

.es2 .cblock {
    margin-left: 22px;
}

.es2 h1 {
    margin: 0px;
    padding: 0px;
}

.es3 {
    margin: 0px;
}

.es3 .remark-code {
    background: #8080804d;
    border-radius: 16px;
}

.es3 .cblock {
    margin-left: 164px;
    width: 55%;
}

.es4 .cblock {
    margin-left: 29px;
    width: 93%;
}

.es5 {
    margin: 0px;
}

.es5 .remark-code {
    background: #8080804d;
    border-radius: 16px;
}

.es5 .cblock {
    margin-left: -13px;
    width: 104%;
}

.es6 {
    width: 68%;
    margin-left: 119px;
}

.es7 {
    width: 42%;
    margin-left: 222px;
}

.es8 {
    width: 58%;
    margin-left: 162px;
}

.es9 {
    width: 62%;
    margin-left: 144px;
}

.nsql-t {
   font-family: 'Yanone Kaffeesatz';
   color: white;
   font-size: 1.9em;
   margin: 38px 0px 0px 141px;
}

.nsql-t a {
   margin-left: 40px;
}

.portb {
    margin-left: 0px;
}

.portb h3 {
    margin-left: 230px !important;
}

.porth {
    margin-left: 128px;
}

.porth h3 {
    margin-left: 102px !important;
}

.msgb {
    margin-left: 12px;
}

.msgb h3 {
    margin-left: 154px !important;
}

.mpass h3 {
    margin-left: 169px !important;
}

.ipc {
    margin-left: 32px;
}

.mpass {
    margin-left: -4px;
}

.mheader {
    margin: 61px 0px -348px 0px;
}

.mheader h2 {
    font-size: 1.5em;
    color: #f3f3f323;
    margin-top: 66px;
}

.mheader h3 {
    text-align: left;
    font-size: 1.3em;
    margin: 19px 0px 0px 133px;
    color: #fef9f966
}

.mhl {
    color: #f9266f33;
}

.mh-t {
   font-family: 'Yanone Kaffeesatz';
   color: white;
   font-size: 1.9em;
   margin: 27px 0px 0px 141px;
}

.mh-t a {
   margin-left: 40px;
}

.mass {
    margin: -5px 0px -302px 0px;
}

.mass .remark-code {
    font-size: 1.067em;
}

.aws1 {
    margin-top: 84px;
}

.aws1 .remark-code {
    text-align: left;
}

.aws2 {
    margin-top: 84px;
}

.aws2 .remark-code {
    text-align: left;
    margin: 55px 0px 0px -19px;
    width: 102.5%;
}

.kafka1 {
    margin-top: 51px;
}

.kafka1 .remark-code {
    text-align: left;
    margin: 35px 0px 0px -19px;
    width: 101.5%;
}

.zero1 {
    margin: 0px;
}

.zero1 h1 {
    margin: 43px 0px -11px 0px;
}

.zero1 .remark-code {
    text-align: left;
    margin: 35px 0px 0px -19px;
    width: 101.5%;
}

.zero2 {
    margin: 0px;
}

.zero2 h1 {
    margin: 83px 0px -7px 0px;
}

.zero2 .remark-code {
    text-align: left;
    margin: 35px 0px 0px -19px;
    width: 101.5%;
}

.coreas {
    margin: -60px 0px -410px 0px;
}

.coreas h1 {
    margin: 83px 0px -7px 0px;
}

.coreas .remark-code {
    text-align: left;
    margin: 35px 0px 0px -19px;
    width: 101.5%;
}

.jport {
   margin-top: -46px
}

.trava {
   font-size: 1.2em;
   margin: 0px 0px -28px 536px;
   padding: 0px;
   font-family: 'Yanone Kaffeesatz';
}

.es11 {
   float: left;
   width: 47%;
}

.es12 {
   float: right;
   width: 48%;
   margin-right: -6px;
}

.code-next {
   clear: both;
   margin-top: -47px;
}

.portas {
    margin: -19px 0px -410px 0px;
}

.portas h1 {
    margin: 83px 0px -7px 0px;
}

.jtport h1 {
    margin: 44px 0px -7px 0px !important;
}

.gtport h1 {
    margin: 50px 0px -6px 0px !important;
}

.gtport .csql {
    margin: 44px 0px -7px 0px !important;
}

.portas .remark-code {
    text-align: left;
    margin: 35px 0px 0px -19px;
    width: 101.5%;
}

.ph-t {
   font-family: 'Yanone Kaffeesatz';
   color: white;
   font-size: 1.9em;
   margin: -39px 0px 0px 81px;
}

.ph-t a {
   margin-left: 40px;
}

.port-t h3 {
    color: #ffc1c1;
}

.port-fade, .port-fade a {
   color: #8080804d;
}

.pwhite {
   color: white;
}

.plink a {
   color: rgb(249, 38, 114);
}

.chl {
    color: white;
}

.impic {
    background-image: url("../img/immutability.png");
    background-size: cover;
}
.clojure-dark {
    background-image: url("../img/clojure-dark.png");
    background-size: cover;
}
.vs-common {
    color: white;
    margin: 0px 0px 0px 245px;
}
